<!-- navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light py-4 fixed-top">
    <div class="container">
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-lg-1 " id="navMenu">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item px-2 py-2">
                    <a class="navbar-brand " routerLink=""><i class="fas fa-home"></i><strong>Home</strong>
                    </a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase " routerLink="categorias"><b>Categorias</b></a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase " routerLink="destaques"><b>Destaques</b></a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase " href="#blogs"><b>Sugestões</b></a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a class="nav-link text-uppercase " href="#about"><b>Sobre nós</b></a>
                </li>
                <li class="nav-item px-2 py-2 border-0">
                    <a class="nav-link text-uppercase " href="#popular" routerLink="login"><b>Entre</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end of navbar -->