<section>
    <ul class="menu">
        <li (click)="goToTheFilteredPage('Pedreiro')" >
            <i class="fas fa-hard-hat"></i>
            Pedreiro
        </li>
        <li (click)="goToTheFilteredPage('Marceneiro')">
            <i class="fas fa-tools"></i>
            Marceneiro
        </li>
        <li (click)="goToTheFilteredPage('Pedreiro')">
            <i class="fas fa-paint-roller"></i>
            Pintor
        </li>
        <li (click)="goToTheFilteredPage('Eletrecista')">
            <i class="fas fa-bolt"></i>
            Eletricista
        </li>
        <li (click)="goToTheFilteredPage('Encanador')">
            <i class="fas fa-shower"></i>
            Encanador
        </li>
        <li (click)="goToTheFilteredPage('all')">
            <i class="fas fa-wrench"></i>
            Todos
        </li>
    </ul>
</section>