<div class="wrapper">
  <div class="sidenav">
    <a routerLink="/PerfilUsuario"><i class="fas fa-home"></i> Home</a>
    <a routerLink="/UsuarioimgPerfil"><i class="fas fa-camera"></i> Alterar foto de perfil</a>
    <a routerLink="UsuarioImgs"><i class="fas fa-image"></i> Minhas fotos</a>
    <a ><i class="fas fa-star"></i> Avaliações </a>
    <a routerLink="/CliFornecCrud"><i class="fas fa-tools"></i>O que eu faço?</a>
    <a (click)="limparCacheContextoERefresh()"  ><i class="fas fa-sign-out-alt"></i> Deslogar</a>
  </div>
</div>