<section>

    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-12">
                <img src="https://via.placeholder.com/1920x500" class="img-fluid" alt="banner">
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <!-- Profile Picture -->
                <img src="https://via.placeholder.com/150" alt="Profile Picture" class="img-fluid rounded-circle">
            </div>
            <div class="col-lg-8 col-md-6 mb-4">
                <!-- Profile Name -->
                <h1 class="mb-3">{{ usuario.nome }}</h1>
                <!-- Profile Information -->
                <ul class="list-unstyled mb-4">
                    <li><strong>Contato:</strong>{{ usuario.telefone }}</li>
                    <li><strong>E-mail:</strong> {{usuario.email}}</li>
                    <li><strong>Especialidade:</strong>{{usuario.profissao}} </li>
                </ul>

                <div>
                    <h5 class="review-stat">Classificação</h5>
                    <div class="small-ratings">
                        <span class="fa fa-star fa-lg text-warning"></span>
                        <span class="fa fa-star fa-lg text-warning"></span>
                        <span class="fa fa-star fa-lg text-warning"></span>
                        <span class="fa fa-star fa-lg text-warning"></span>
                        <span class="fa fa-star fa-lg text-warning"></span>
                    </div>
                </div>

                <b>serviços que eu faço:</b>
                <ul class="list-unstyled mb-4">
                    <li>PINTOR;</li>
                </ul>
                <!-- Profile Buttons -->
                <!--{{ usuario.telefone }}-->
                <div class="d-flex">
                    <a [href]="'https://wa.me/' + usuario.telefone" target="_blank" class="btn btn-success mr-2 mx-2">
                        <i class="fab fa-whatsapp"></i> WhatsApp
                      </a>
                    
                </div>
            </div>
        </div>




        <!-- Carrossel de imagens -->
        <h2 class="text-center mb-4">Amostra de serviços</h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://via.placeholder.com/800x400?text=Imagem+1" class="d-block w-100" alt="Imagem 1">
                </div>
                <div class="carousel-item">
                    <img src="https://via.placeholder.com/800x400?text=Imagem+2" class="d-block w-100" alt="Imagem 2">
                </div>
                <div class="carousel-item">
                    <img src="https://via.placeholder.com/800x400?text=Imagem+3" class="d-block w-100" alt="Imagem 3">
                </div>
            </div>
            <a class="carousel-control-prev"  role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </a>
            <a class="carousel-control-next"  role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </a>
        </div><br><br>

        <!-- Feedbacks -->
        <div class="container">
            <h3 class="text-center mb-4">Feedbacks</h3>
            <div class="row">
              <div class="col-md-6 mb-4" *ngFor="let avaliacao of avaliacoes">
                <div class="card h-100">
                  <div class="card-body">
                    <h4 class="card-title">{{ avaliacao.nome }}</h4>
                    <p class="card-text">{{ avaliacao.descricao }}</p>
                    <p class="card-text">Nota: {{ avaliacao.nota }}</p>
                  </div>
                </div>
              </div>
            </div>
            <hr>

               <!-- Formulário para feedBack -->
                <!-- Formulário para feedback -->
 <!-- Formulário para feedback -->
<h3 class="text-center mb-4">Deixe seu Comentário</h3>
<form>
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome" name="nome" required [(ngModel)]="nome">
  </div>
  <div class="mb-3">
    <label for="comentario" class="form-label">Comentário</label>
    <textarea class="form-control" id="comentario" name="comentario" rows="3" required [(ngModel)]="descricao"></textarea>
  </div>
  <fieldset class="border p-2 mb-4">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="rating" id="rating1" value="1" [(ngModel)]="nota" required>
      <label class="form-check-label" for="rating1"><i class="far fa-star"><strong>1</strong></i></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="rating" id="rating2" value="2" [(ngModel)]="nota">
      <label class="form-check-label" for="rating2"><i class="far fa-star"><strong>2</strong></i></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="rating" id="rating3" value="3" [(ngModel)]="nota">
      <label class="form-check-label" for="rating3"><i class="far fa-star"><strong>3</strong></i></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="rating" id="rating4" value="4" [(ngModel)]="nota">
      <label class="form-check-label" for="rating4"><i class="far fa-star"><strong>4</strong></i></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="rating" id="rating5" value="5" [(ngModel)]="nota">
      <label class="form-check-label" for="rating5"><i class="far fa-star"><strong>5</strong></i></label>
    </div>
  </fieldset>
  <button type="submit" class="btn btn-primary"  (click)="criarAvaliacao()">Enviar Comentário</button>
</form>
        </div>
    </div>
    <hr>
    <hr>
    <hr>
</section>