<div class="container">
   

    
<div class="container-principal">
    <div class="chart-row">

      
        <div class="chart-container">
            
            <div class="chart-bar meta" [ngStyle]="{'height': metaBarHeight}"><span>Meta</span></div>
            
        </div>
    
        <div class="chart-container ">
           
            <div class="chart-bar atual" [ngStyle]="{'height': atualBarHeight}"> <span>Atual</span></div>
        </div>
     
        <div class="chart-container">
    
            <div></div>
            <div class="chart-bar diferenca" [ngStyle]="{'height': diferencaBarHeight}"> <span>Diferença: {{ difference }}</span></div>
        </div>


    </div>
</div>
</div>
