<div class="container">

    <h1>Gráfico de Meta de Usuários</h1>
<div class="container-principal">
    <div class="chart-row">

      
        <div class="chart-container">
            <span>Meta</span>
            <div class="chart-bar meta" [ngStyle]="{'height': metaBarHeight}"></div>
            
        </div>
    
        <div class="chart-container ">
            <span>Atual</span>
            <div class="chart-bar atual" [ngStyle]="{'height': atualBarHeight}"></div>
        </div>
     
        <div class="chart-container">
    
            <div i> <span>Diferença: {{ difference }}</span></div>
            <div class="chart-bar diferenca" [ngStyle]="{'height': diferencaBarHeight}"></div>
        </div>


    </div>
</div>
</div>
