<div>
    <img class="profile-picture" src="caminho/para/foto_de_perfil.jpg" alt="Foto de Perfil">
  </div>
  
  <div>
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" value="Nome do Usuário" disabled>
    <button class="edit-button" onclick="enableInput('name')">Editar</button>
  </div>
  
  <div>
    <label for="whatsapp">Whatsapp:</label>
    <input type="text" id="whatsapp" name="whatsapp" value="Número de Whatsapp" disabled>
    <button class="edit-button" onclick="enableInput('whatsapp')">Editar</button>
  </div>
  
  <div>
    <label for="description">Descrição:</label>
    <textarea id="description" name="description" rows="4" cols="50" disabled>Descrição do Usuário</textarea>
    <button class="edit-button" onclick="enableInput('description')">Editar</button>
  </div>
  
  <div>
    <label for="daily-rate">Valor Médio da Diária:</label>
    <input type="text" id="daily-rate" name="daily-rate" value="R$ 100,00" disabled>
    <button class="edit-button" onclick="enableInput('daily-rate')">Editar</button>
  </div>