<div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="text-center">
          <img src="https://via.placeholder.com/150" class="rounded-circle img-thumbnail perfil-img" alt="Foto de Perfil">
          <h4 class="mt-3">{{ usuarioAtual?.nome }}</h4>
        </div>
        <div class="text-center mt-4">
          <label for="uploadFoto" class="btn btn-primary">Atualizar Foto de perfil</label>
          <input type="file" id="uploadFoto" style="display: none;">
        </div>
      </div>
    </div>
  </div>
</div>