<div class="container mt-5" style="padding-top: 6rem;">
  <div class="row justify-content-center">


    <div class="col-md-6">


      <div class="mb-3">
        <label for="eMail" class="form-label">E-mail</label>
        <input type="text" class="form-control" id="eMail" [value]="login.username" disabled>
      </div>


      <form (ngSubmit)="setLogin()">

        <div class="mb-3">
          <label for="numeroDocumento" class="form-label">Digite uma senha</label>
          <input type="password" class="form-control" id="numeroDocumento" name="numeroDocumento"
            placeholder="Exemplo: Xy2W@#463" [(ngModel)]="login.password" required>
        </div>
        <div class="mb-3">
          <label for="dataNascimento" class="form-label">Confime a senha</label>
          <input type="password" class="form-control" id="dataNascimento" name="dataNascimento"
            placeholder="Repita a senha" required [(ngModel)]="confiracaoSenha">
        </div>

        <div class="text-center mt-4">
          <button class="button" type="submit">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</div>