<div class="carousel d-none d-md-block" id="banner">
    <div class="d-flex align-items-end justify-content-center divMae">
      <div class="banner-text" > 
       C
      </div>
       
      <div class="banner-text"> 
       O
      </div>
  
      <div class="banner-text" > 
      N
      </div>
  
      <div class="banner-text"> 
       S
      </div>

      <div class="banner-text"> 
        T
      </div>

      <div class="banner-text"> 
        R
      </div>

      <div class="banner-text"> 
        U
      </div>

      <div class="banner-text"> 
        C
      </div>

      <div class="banner-text"> 
        T
      </div>
      <div class="banner-text"> 
        O
      </div>
      <div class="banner-text"> 
        R
      </div>


    </div>
  </div>

<div class="container my-5">

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="btn-group mb-4 d-flex flex-wrap justify-content-between">
                <div class="btn-group" role="group">
                    <button class="btn btn-primary d-none d-md-block" (click)="filterDivs('Pedreiro')">Pedreiro</button>
                    <button class="btn btn-primary d-none d-md-block"
                        (click)="filterDivs('Marceneiro')">Marceneiro</button>
                    <button class="btn btn-primary d-none d-md-block" (click)="filterDivs('Pintor')">Pintor</button>
                    <button class="btn btn-primary d-none d-md-block"
                        (click)="filterDivs('Eletrecista')">Eletricista</button>
                    <button class="btn btn-primary d-none d-md-block"
                        (click)="filterDivs('Encanador')">Encanador</button>
                    <button class="btn btn-primary d-none d-md-block"
                        (click)="filterDivs('Vidraceiro')">Vidraceiro</button>
                    <button class="btn btn-primary d-none d-md-block" data-filter="all"
                        (click)="filterDivs('all')">Todos</button>
                </div>

                <div class="col-md-3">
                    <div class="form-group mb-2 d-flex">
                        <input type="text" class="form-control form-control-sm" placeholder="Pesquisar">
                        <button class="btn btn-outline-primary btn-sm ml-2" type="button">Buscar</button>
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <button class="btn btn-primary" (click)="sortDivsByName('asc')">Ordenar A-Z</button>
                    <button class="btn btn-primary" (click)="sortDivsByName('desc')">Ordenar Z-A</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container my-5">
            <div class="row mt-4">

                <!-- cards aqui -->
                <div class="col-md-4" style="padding-bottom:2rem ;" id="Pedreiro">
                    <div class="card pointer" routerLink="perfil">
                        <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="category">
                        <div class="card-body">
                            <h5 class="card-title">Marcos</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                            <label>Pedreiro</label>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="https://wa.me/1234567890" target="_blank" class="btn btn-success"><i
                                        class="fab fa-whatsapp"></i> WhatsApp</a>
                                <div>
                                    <h5 class="review-stat">12 Viewers</h5>
                                    <div class="small-ratings">
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Outros cards aqui -->


                <!-- cards aqui -->
                <div class="col-md-4" style="padding-bottom:2rem ;" id="Marceneiro">
                    <div class="card pointer" routerLink="perfil">
                        <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="category">
                        <div class="card-body">
                            <h5 class="card-title">Vanessa</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                            <label>Pedreiro</label>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="https://wa.me/1234567890" target="_blank" class="btn btn-success"><i
                                        class="fab fa-whatsapp"></i>
                                    WhatsApp</a>
                                <div>
                                    <h5 class="review-stat">12 Viewers</h5>
                                    <div class="small-ratings">
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Outros cards aqui -->

                <!-- cards aqui -->
                <div class="col-md-4" style="padding-bottom:2rem ;" id="Pintor">
                    <div class="card pointer" routerLink="perfil">
                        <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="category">
                        <div class="card-body">
                            <h5 class="card-title">Amorim</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                            <label>Pedreiro</label>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="https://wa.me/1234567890" target="_blank" class="btn btn-success"><i
                                        class="fab fa-whatsapp"></i>
                                    WhatsApp</a>
                                <div>
                                    <h5 class="review-stat">12 Viewers</h5>
                                    <div class="small-ratings">
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Outros cards aqui -->

                <!-- cards aqui -->
                <div class="col-md-4" style="padding-bottom:2rem ;" id="Eletrecista">
                    <div class="card pointer" routerLink="perfil">
                        <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="category">
                        <div class="card-body">
                            <h5 class="card-title">Pedro</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                            <label>Pedreiro</label>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="https://wa.me/1234567890" target="_blank" class="btn btn-success"><i
                                        class="fab fa-whatsapp"></i>
                                    WhatsApp</a>
                                <div>
                                    <h5 class="review-stat">12 Viewers</h5>
                                    <div class="small-ratings">
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                        <span class="fa fa-star fa-lg text-warning"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Outros cards aqui -->

            </div>
        </div>

        <hr>