<div class="container my-5">


    <div class="row mt-4">
        <div class="col-md-12">
            <div class="btn-group mb-4">
                <button class="btn btn-primary" data-filter=".pedreiro">Pedreiro</button>
                <button class="btn btn-primary" data-filter=".marceneiro">Marceneiro</button>
                <button class="btn btn-primary" data-filter=".pintor">Pintor</button>
                <button class="btn btn-primary" data-filter=".eletricista">Eletricista</button>
                <button class="btn btn-primary" data-filter=".encanador">Encanador</button>
                <button class="btn btn-primary" data-filter=".vidraceiro">Vidraceiro</button>
                <button class="btn btn-primary active" data-filter="*">Todos</button>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="btn-group mb-4">
                <button class="btn btn-primary" data-sort-by="name" data-sort-asc="true">Ordenar A-Z</button>
                <button class="btn btn-primary" data-sort-by="name" data-sort-asc="false">Ordenar Z-A</button>
            </div>
        </div>
    </div>

    <div class="row mt-4">

        <!-- cards aqui -->
        <div class="col-md-4 pedreiro">
            <div class="card pointer" routerLink="perfil">
                <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="category">
                <div class="card-body">
                    <h5 class="card-title">Pedro</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <label>Pedreiro</label>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="https://wa.me/1234567890" target="_blank" class="btn btn-success"><i
                                class="fab fa-whatsapp"></i> WhatsApp</a>
                        <div>
                            <h5 class="review-stat">12 Viewers</h5>
                            <div class="small-ratings">
                                <span class="fa fa-star fa-lg text-warning"></span>
                                <span class="fa fa-star fa-lg text-warning"></span>
                                <span class="fa fa-star fa-lg text-warning"></span>
                                <span class="fa fa-star fa-lg text-warning"></span>
                                <span class="fa fa-star fa-lg text-warning"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Outros cards aqui -->

    </div>
</div>
<hr>