<div id="header" class="carousel slide" data-bs-ride="carousel" style="background-color: #bbbbbb;">
    <div class="container d-flex align-items-center carousel-inner">
        <div class="text-center carousel-item active" style="background-image: url('image1.jpg');">
            <div class="my-2">

            </div>
        </div>

        <div class="text-center carousel-item" style="background-image: url('image2.jpg');">
            <div class="my-2">

            </div>
        </div>

        <div class="text-center carousel-item" style="background-image: url('image3.jpg');">
            <div class="my-2">

            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#header" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#header" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>



<div class="container my-5">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="category">
                <div class="card-body">
                    <h5 class="card-title">Pedro</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="https://wa.me/1234567890" target="_blank" class="btn btn-success"><i
                                class="fab fa-whatsapp"></i> WhatsApp</a>
                        <div>
                            <h5 class="review-stat">12 Viewers</h5>
                            <div class="small-ratings">
                                <span class="fa fa-star fa-lg text-warning"></span>
                                <span class="fa fa-star fa-lg text-warning"></span>
                                <span class="fa fa-star fa-lg text-warning"></span>
                                <span class="fa fa-star fa-lg text-warning"></span>
                                <span class="fa fa-star fa-lg text-warning"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>