<div class="container mt-5">
    <h1 class="custom-heading">Avaliações</h1>
  
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let avaliacao of avaliacoes">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ avaliacao.nome }}</h5>
            <p class="card-text">{{ avaliacao.descricao }}</p>
            <button class="btn btn-danger delete-btn" (click)="deletarAvaliacao(avaliacao.id)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>