<div class="sidenav">
    <a href="#"  routerLink="reclamacoesADM"><i class="fas fa-home"></i> Home</a>
    <a href="#" routerLink="EstatisticasADM"><i class="fas fa-chart-bar"></i> Estatísticas</a>
    <a href="#" routerLink="ControleUsuariosADM"><i class="fas fa-users"></i> Usuários</a>
    <a href="#" routerLink="ControleAdministradoresADM"><i class="fas fa-cog"></i> Configurações</a>
    <a href="#"> <i class="fas fa-power-off"></i>Deslogar</a>
</div>

  <div class="content" style="color: #000">
    <h1>Página de Administração</h1>
    <p>Bem-vindo ao painel de administração!</p>
    <div class="carousel d-none d-md-block" id="banner">
      <div class="d-flex align-items-end justify-content-center divMae">
        <div class="banner-text" > 
         C
        </div>
         
        <div class="banner-text"> 
         O
        </div>
    
        <div class="banner-text" > 
        N
        </div>
    
        <div class="banner-text"> 
         S
        </div>
  
        <div class="banner-text"> 
          T
        </div>
  
        <div class="banner-text"> 
          R
        </div>
  
        <div class="banner-text"> 
          U
        </div>
  
        <div class="banner-text"> 
          C
        </div>
  
        <div class="banner-text"> 
          T
        </div>
        <div class="banner-text"> 
          O
        </div>
        <div class="banner-text"> 
          R
        </div>
  
  
      </div>
    </div>
    <router-outlet></router-outlet>
 </div>
