<div class="container">
  <h1 class="text-center">Controle de Usuários</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.idUsuario }}</td>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.telefone }}</td>
        <td>{{ usuario.email }}</td>
        <td>
          <button class="btn btn-danger" (click)="excluirUsuario(usuario.idUsuario)">
            <i class="fa fa-trash"></i> Excluir
          </button>
          <button class="btn btn-success" (click)="atualizarPermissao(usuario, true)" [disabled]="usuario.permissao">
            <i class="fa fa-check"></i> Ativar
          </button>
          <button class="btn btn-warning" (click)="atualizarPermissao(usuario, false)" [disabled]="!usuario.permissao">
            <i class="fa fa-times"></i> Desativar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>