<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <!-- Profile Picture -->
                <img src="https://via.placeholder.com/150" alt="Profile Picture" class="img-fluid rounded-circle">
            </div>
            <div class="col-lg-8 col-md-6 mb-4">
                <!-- Profile Name -->
                <h1 class="mb-3">Edimar</h1>
                <!-- Profile Information -->
                <ul class="list-unstyled mb-4">
                    <li><strong>Contato:</strong> 51 98857-0252</li>
                    <li><strong>E-mail:</strong> eddy.development1997@gmail.com</li>
                    <li><strong>Cidade:</strong> Críciuma</li>
                    <li><strong>Descrição:</strong> Software Engineer at Example Inc.</li>
                </ul>

                
            </div>
        </div>
    </div>
    <hr>
    <hr>
    <hr>
</section>