<div id="header" class="carousel slide" data-bs-ride="carousel" style="background-color: #f59aee;">
    <br><br><br><br>
    <div class="container d-flex align-items-center carousel-inner">
        <div class="text-center carousel-item active">
            <div class="my-2" style="width: 100%;">
                <img src="https://live.staticflickr.com/65535/52913098458_c512c393e6_c.jpg" class="img-fluid"
                    alt="banner" style="width: 100%; border-radius: 10%;">
            </div>
        </div>

        <div class="text-center carousel-item">
            <div class="my-2" style="width: 100%;">
                <img src="https://live.staticflickr.com/65535/52912040747_805ceb4a0e_z.jpg" class="img-fluid"
                    alt="banner" style="width: 100%; border-radius: 10%;">
            </div>
        </div>

        <div class="text-center carousel-item">
            <div class="my-2" style="width: 100%;">
                <img src="https://live.staticflickr.com/65535/52913038955_74c1580002_c.jpg" class="img-fluid"
                    alt="banner" style="width: 100%; border-radius: 10%;">
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#header" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#header" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>
<!-- end of header -->

<div class="container my-5">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="category">
                <div class="card-body">
                    <h5 class="card-title">Pedro</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- WhatsApp button -->
                        <a href="https://wa.me/1234567890" target="_blank" class="btn btn-success"><i
                                class="fab fa-whatsapp"></i>
                            WhatsApp</a>
                        <!-- Ratings -->
                        <div>
                            <h5 class="review-stat">12 Viewers</h5>
                            <div class="small-ratings">
                                <span class="fa fa-star fa-lg text-warning"></span>
                                <span class="fa fa-star fa-lg text-warning"></span>
                                <span class="fa fa-star fa-lg text-warning"></span>
                                <span class="fa fa-star fa-lg text-warning"></span>
                                <span class="fa fa-star fa-lg text-warning"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>